html {
    font-family: Arial;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(45deg, white, white, white, #00A2FF, #FC4747, #00FF3C, #5CE8F7) no-repeat fixed;
    background-size: 800% 800%;

    animation: setBgColor ease, changeBgColor ease infinite;
    animation-duration: 5s, 40s;
    animation-delay: 0s, 5s;
}

.mainTitle {
    padding: 30px;
    text-align: center;
    color: white;
    font-size: 50px;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: grey;
    text-decoration: none;
}

.lists {
    padding: 10px;
}

li {
    padding-bottom: 20px;
    color: white;
    font-size: 25px;
    list-style: none;
    text-align: center;
}

.loadList {
    animation: showLists ease;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

/*keyframes*/
@keyframes setBgColor {
    0% {
        background-position: 0% 50%
    }
    100% {
        background-position: 75% 75%
    }
}

@keyframes changeBgColor {
    0% {
        background-position: 75% 75%;
    }
    25% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 75% 75%;
    }
    75% {
        background-position: 50%, 100%;
    }
    100% {
        background-position: 75% 75%
    }
}

@keyframes showLists {
    0% {
        padding-top: 300%;
    }
    100% {
        padding-top: 1%;
    }
}
