* {
    margin: 0;
    padding: 0;
}

.mainTitle {
    padding: 30px;
    text-align: center;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

.lists {
    padding: 10px;
}